@import "/src/common/modern-reset.css";

.shopping-cart {
  width: 700px;
  margin: 200px auto;
  padding: 20px;
  border: 6px solid #4D4D4D;
  border-radius: 8px;
  background-color: #fff;
}

/* 장바구니 아이콘 */
.cart-title .cart-icon {
  float: left;
  width: 30px;
  margin-right: 5px;
}

/* 장바구니 */
.cart-title {
  display: flow-root;
  margin-bottom: 20px;
  border-bottom: 2px solid #4D4D4D;
}

.cart-title h1 {
  float: left;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
  color: #4D4D4D;
}

/* 상품 리스트 */
.cart-list {
  display: flow-root;
  
}

/* 상품들 */
.cart-item {
  display: flow-root;
  margin-bottom: 20px;
}

.item-image{
  float: left;
  margin-bottom: 10px;
}

/* 상품 설명 */
.item-info{
  float: left;
  margin-top: 10px;
  margin-left: 15px;
  
  strong{
    display: block;
    margin-top: 5px;
    font-weight: bold;
  }
}

/* 수량 버튼 */
.quantity {
  float: right;
  margin-top: 15px;
}

/* 청구서 */
.billings {
  display: flow-root;
  border-top: 2px solid #4D4D4D;
  padding-top: 20px;
  color: #4D4D4D;

  span{
    float: right;
    font-size: 20px;
    font-weight: bold;
  }
}
